body {
  font-family: serif;
  text-align: center;
}

.wrapper {
  max-width: 1000px;
  margin: 50px auto;

}

h1 {
  font-weight: 200;
  font-size: 4em;
  margin: 0 0 0.1em 0;
}

h2 {
  font-weight: 200;
  font-size: 2em;
  margin: 0 0 50px;
  color: #155151;
}
.chart {
  font-weight: 300;
  font-size: 2em;
  color: #155151;
  padding-top: 40px;
}
h3 {
  color: #155151;
}
p {
  font-family: sans-serif;
  text-align: center;
  color: #003333;
}
.small {
  font-family: serif;
  font-size: .80 em;
  color:#155151;
}
a {
  margin-top: 50px;
  display: block;
  color: #3e95cd;
}

canvas {
  width: 40%;
  height: 30%;
  margin-top: 20px;
  margin-bottom: 40px;
}

html {
  background-color: #e6ffff;
}

.columnL {
  float: left;
  width: 50%;
}

.columnR {
  float: right;
  width: 50%;
}

.row:after {
  content:"";
  display: block;
  clear: both;
}

footer {
  font-family: monospace;
  font-size: 0.75em;
  color: #155151;
}
